.widget {
  .search-vehicle-list {
    background: #f0f0f0;
    position: relative;
    font-size: 16px;
    color: #555;
    padding: 2px 20px 2px 4px;
    margin-top: 3px;
    border: 1px solid transparent;
    span {
      position: absolute;
      right: -1px;
      top: -1px;
      background: transparent;
      color: #aaa;
      width: 30px;
      height: 30px;
      text-align: center;
    }
  }
  .vehicle-control-button {
    margin-top: 15px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    button {
      cursor: pointer !important;
      &.text-anchor {
        float: right;
        font-size: 14px;
        text-transform: none;
        font-weight: normal;
        color: #3d5b99;
        border: 0;
        font-family: 'Lato', sans-serif;
        &:last-child {
          margin-right: 15px;
        }
        &:hover {
          text-decoration: underline !important;
        }
      }
      &:hover {
        text-decoration: underline !important;
      }
    }
  }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
  .widget {
    &.saved-vehicle {
      padding: 15px 15px 30px;
      .vehicle-control-button {
        button {
          &.text-anchor {
            &:last-child {
              margin-right: 0px;
            }
          }
        }
      }
    }
    .search-vehicle-list {
      font-size: 15px;
    }
  }
}
