$red: #db443a;
$blue: #3d5b99;
$hoverblue: #3f61a9;
$white: #fff;
$black: #000;
$font: 'Lato', sans-serif;
html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}
* {
  box-sizing: border-box;
}
ul li {
  list-style: none;
}
a {
  text-decoration: none;
}
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.button-outlined {
  align-items: center;
  background-color: transparent;
  -webkit-appearance: none;
  vertical-align: middle;
  justify-content: center;
  border: 1px solid #eee;
}
.button-blue-line {
  border: 2px solid $blue;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  color: $blue;
  background: $white;
  border-radius: 3px;
  font-family: 'Lato', sans-serif;
  justify-content: center;
  align-items: center;
}
.button-red-solid {
  justify-content: center;
  align-items: center;
  border: 0;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  color: $white;
  font-family: 'Lato', sans-serif;
  border: 3px solid $red;
  background: $red;
  border-radius: 3px;
  text-transform: uppercase;
}
.button-blue-solid {
  border: 3px solid $blue;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background: $blue;
  border-radius: 3px;
  font-family: 'Lato', sans-serif;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  &:hover {
    background-color: $hoverblue;
    border-color: $hoverblue;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1450px;
  }
}
