@import '../../../public/css/bootstrap-grid';
@import './variables';

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}
p {
  margin-top: 0;
  margin-bottom: 1rem;
}
* {
  box-sizing: border-box;
}
ul li {
  list-style: none;
}
a {
  text-decoration: none;
}
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.mt40 {
  margin-top: 40px;
}
.mb20 {
  margin-bottom: 20px !important;
}
.button-outlined {
  align-items: center;
  background-color: transparent;
  -webkit-appearance: none;
  vertical-align: middle;
  justify-content: center;
  border: 1px solid #eee;
}
.button-blue-line {
  border: 2px solid $blue;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  color: $blue;
  background: $white;
  border-radius: 3px;
  font-family: 'Lato', sans-serif;
  justify-content: center;
  align-items: center;
  &.small {
    font-size: 14px;
    font-weight: normal;
    text-transform: none;
    padding: 5px 6px;
    border-radius: 2px;
    border-width: 1px;
  }
}
.button-red-solid {
  justify-content: center;
  align-items: center;
  border: 0;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  color: $white;
  font-family: 'Lato', sans-serif;
  border: 3px solid $red;
  background: $red;
  border-radius: 3px;
  text-transform: uppercase;
}
.button-blue-solid {
  border: 3px solid $blue;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background: $blue;
  border-radius: 3px;
  font-family: 'Lato', sans-serif;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  &.small {
    font-size: 14px;
    font-weight: normal;
    padding: 5px 6px;
    border-radius: 2px;
  }
  &:hover {
    background-color: $hoverblue;
    border-color: $hoverblue;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1450px;
  }
}

@media screen and (max-width: 992px) {
  .button-blue-line,
  .button-blue-solid,
  .button-red-solid,
  .button-outlined {
    font-size: 14px;
  }
}
